html,
body {
    box-sizing: border-box;
    height: 100%;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

a {
    text-decoration: underline;
    color: #278AFF;
    transition: all .2s;
}

a:hover {
    color: #00BF78;
}

.subtitle {
    margin: 0 0 16px 0;
    font-size: 20px;
    line-height: 32px;
}

.body {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.wrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.header {
    background: #F8F6F7 url("../images/hero_bg.jpg") repeat;
}

.header
.container {
    position: relative;
    padding: 30px 0 130px;
    overflow: hidden;
}

.header__wrapper {
    margin: 0 0 120px 0;
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    gap: 28px;
}

.header__logo {
    min-width: fit-content;
    color: #333;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
}

.header__logo:hover {
    color: #333;
}

nav {
    display: flex;
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    min-width: fit-content;
    flex-wrap: wrap;
    gap: 12px 28px;
    list-style: none;
}

.menu__link {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

.header__info {
    text-align: right;
    min-width: fit-content;
}

.header__info__phone {
    color: #333;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    text-decoration: none;
}

.header__info__caption {
    font-size: 11px;
    line-height: 14px;
}

.hero__text {
    max-width: 540px;
}

.hero__title {
    margin: 0 0 16px 0;
}

.hero__text__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 60px 0;
}

.button {
    padding: 10px 20px;
    border-radius: 48px;
    border: 0;
    background: #FB9475;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    background: #ffa589;
}

.button__large {
    padding: 17px 30px;
    font-size: 14px;
}

.hero__image {
    position: absolute;
    bottom: 0;
    right: 93px;
    z-index: 0;
}

.hero__image:before {
    content: '';
    position: absolute;
    bottom: -110px;
    right: 3px;
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #FB9475;
}

.hero__image__girl {
    display: block;
    position: relative;
    max-width: 524px;
    max-height: 510px;
}

.socials .socials__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero__socials {
    position: absolute;
    top: 45%;
    right: 0;
}

.hero__socials .socials__list {
    flex-direction: column;
    gap: 16px;
}

.hero__socials .socials__item {
    width: 32px;
    height: 32px;
}

.about__wrapper {
    padding: 94px 0 50px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.about__text {
    max-width: 570px;
}

.about__video {
    width: 445px;
    height: 296px;
    display: flex;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/video_preview.jpg) no-repeat center / cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video__play {
    margin: 0 0 8px 0;
}

.video__play__icon {
    transition: transform .3s;
}

.video__play__icon:hover {
    transform: scale(1.1);
}

.video__play__text {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.advantages__wraper {
    padding: 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.advantages__card {
    padding: 0 20px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advantages__card__icon {
    margin: 0 0 20px 0;
    width: 48px;
    height: 48px;
}

.advantages__card__title {
    margin: 0 0 12px 0;
}

.advantages__card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.section__title {
    margin: 0 0 32px 0;
}

.services__wrapper {
    padding: 50px 0 50px;
}

.services__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.service__card {
    flex-basis: 30%;
    color: #333 !important;
    text-decoration: none !important;
}

.service__image {
    margin: 0 0 20px 0;
    min-width: 288px;
    max-width: 100%;
    height: auto;
}

.service__card__title {
    margin: 0 0 8px 0;
}

.service__card__caption {
    margin: 0 0 16px 0;
    font-size: 12px;
    line-height: 20px;
}

.footer__wrapper {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__legal__caption {
    margin: 0 0 8px 0;
    font-size: 12px;
    line-height: 15px;
}

.footer__legal__link {
    font-size: 12px;
    line-height: 15px;
}

.footer__nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.menu__link__footer {
    color: #333;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}

.footer__nav li:not(:last-child) {
    margin: 0 28px 0 0;
}